<style>
    .bottom-cta-section {
        background: rgb(13,214,60);
        background: linear-gradient(140deg, rgba(13,214,60,1) 42%, rgba(7,118,33,1) 100%);
    }
</style>

<div class="text-center py-16 bottom-cta-section">
    <h5 class="text-fus-dark pb-3 px-2 h2-styled">{{ globalSections.bottomCta.title }}</h5>
    <p class="max-w-lg text-fus-dark mx-auto pb-8 px-2 lg-p">{{ globalSections.bottomCta.paragraph }}</p>
    <a href="{{ globalSections.bottomCta.buttonLink }}">
        <button>{{ globalSections.bottomCta.buttonText }}</button>
    </a>
</div>