<!doctype html>
<html lang="en">
  {% include "./head/all.njk" %}
    <style>
      {% include "assets/css/main.css" %}
    </style>
    {% include "header.njk" %}
  <body class="">
    <main>
      {{ content | safe }}
    </main>

    {% include "footer.njk" %}
    <script src="{{ page | relative }}assets/js/main.js"></script>
  </body>
</html>