<style>
    
</style>

<div class="flex flex-wrap w-5/6 mx-auto py-24">
    <div class="w-full text-center">
        <h1 class="text-5xl font-bold leading-none">{{ 404Page.heroTitle }}</h1>
        <p class="pt-6 pb-12">{{ 404Page.heroParagraph }}</p>
        <a href="{{ 404Page.heroButtonLink }}">
            <button>
                {{ 404Page.heroButtonText }}
            </button>
        </a>
    </div>
</div>