<style>

</style>

{% set teamMembersAll = [] %}
{% for item in teamMembers %}
    {% if item.disabled !== true %}
        {% set teamMembersAll = (teamMembersAll.push({id: item.id, name: item.name, position: item.position, headshotImg: item.headshotImg, headshotAlt: item.headshotAlt, certifications: item.certifications, bio: item.bio, weight: item.weight }), teamMembersAll) %}
    {% endif %}
{% endfor %}

<div class="bg-cover bg-no-repeat -mt-1 -ml-1 pt-12 pb-32 single-program-hero">
    <div class="w-11/12 mx-auto">
        <h1 class="text-5xl sm:text-6xl md:text-h1-init text-white text-center md:text-left">{{ wpage.title }}</h1>
    </div>
</div>

<div class="flex flex-wrap items-center w-full lg:w-11/12 max-w-8xl -mt-56 mx-auto text-center md:text-left overflow-x-hidden">
    <style>
        .single-program-hero-image {
            background-image: url('{{ wpage.heroImg }}');
            clip-path: polygon(0 0%, 100% 0, 100% 80%, 0% 100%);
        }
    </style>
    <div data-aos="fade-down" data-aos-duration="1200" class="w-full lg:w-7/12 bg-top bg-cover bg-no-repeat py-32 lg:py-80 z-min1 single-program-hero-image">
        <div class="py-32"></div>
    </div>
    <div class="w-full md:w-2/3 lg:w-5/12 xxl:mt-24 mx-auto pt-8 lg:pt-0 px-6 xxl:px-16 single-program-hero-paragraph">
        <h2 class="pb-6">{{ wpage.heroTitle }}</h2>
        <p class="pb-8 xs:px-8 sm:px-24 md:px-0 whitespace-pre-line lg-p">{{ wpage.heroParagraph }}</p>
    </div>
</div>

<div id="history" class="max-w-12xl mx-auto py-24 md:py-12 overflow-x-hidden">
    <div class="flex flex-wrap">
        <div class="w-5/6 md:w-1/3 mx-auto md:pt-24 md:pl-5 lg:pl-8 xl:pl-16 xxxl:pl-32 text-center md:text-left">
            <h2>{{ wpage.historyTitle }}</h2>
            <p class="max-w-sm mx-auto lg:mx-0 pb-6 lg-p">{{ wpage.historyParagraph }}</p>
        </div>
        <div data-aos="fade-left" data-aos-duration="1000" class="w-11/12 md:w-2/3 mx-auto sm:mx-0 sm:ml-auto pt-20 md:pt-0">
            <div id="event-slider" class="relative event-slider">
                {% for item in events | sortBy('weight') %}
                    {% if item.disabled !== true %}
                    <div class="flex flex-wrap w-full home-program-slide">
                        <style>
                            .home-program-slide-img-{{ item.id }} {
                                background-image: url('{{ item.img }}');
                            }
                        </style>
                        <div class="flex flex-wrap w-11/12 mx-auto">
                            <div class="relative w-full bg-cover bg-center mx-auto mt-3 py-48 home-program-slide-img cus-shadow home-program-slide-img-{{ item.id }}">
                                <div class="absolute top-0 w-full mx-auto py-48 opacity-0 home-program-slide-img-overlay"></div>
                            </div>
                        </div>
                        <div class="w-11/12 mx-auto pt-4 text-center md:text-left">
                            <h3 class="h2-styled">{{ item.name }}</h3>
                            <p class="pb-6 lg-p">{{ item.description }}</p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div id="values" class="py-16"></div>

<div class="relative pb-56 overflow-x-hidden">
    <div class="max-w-10xl mx-auto lg:px-16">
        <style>
            {% for item in wpage.valuesList %}
            .testimonial-img-{{ item.image.id }} {
                background-image: url('{{ item.image.url }}');background-image: linear-gradient(to bottom , rgba(13, 214, 60, 0.75) 90%, rgba(13, 214, 60, 0.75) 100%), url('{{ item.image.url }}');
                clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
            }
            {% endfor %}
        </style>
        <div id="values-slider" class="relative w-full">
            {% for item in wpage.valuesList %}
                <div class="flex flex-wrap w-full">
                    <div data-aos="fade-right" data-aos-duration="1000" class="relative w-full md:w-1/2">
                        <div class="w-full bg-cover bg-center py-56 testimonial-img-{{ item.image.id }}">
            
                        </div>
                        <div class="absolute bottom-0 right-0 w-56 bg-fus-navy mr-6 py-10 xs:py-12 pl-10 pr-6 z-min1 testimonial-arrows">
                            
                        </div>
                        <div class="absolute bottom-0 right-0 flex items-center mb-8 sm:mb-10 pr-10">
                            <img class="text-2xl pl-24 pr-6 prev-test-button" src="https://inside.trainedbyfusion.com/wp-content/uploads/2021/04/slider-left-arrow-white.svg" />
                            <img class="next-test-button" src="https://inside.trainedbyfusion.com/wp-content/uploads/2021/04/slider-right-arrow-white.svg" />
                        </div>
                    </div>
                    <div data-aos="fade-left" data-aos-duration="1000" class="w-full max-w-2xl md:w-1/2 mb-16 mx-auto pt-12 px-6 md:px-12 text-center md:text-left z-20">
                        <h4 class="text-3xl xs:text-4xl xl:text-5xl pr-4 sm:pr-12">{{ item.title }}</h4>
                        <p class="pt-6">{{ item.paragraph }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="absolute top-0 right-0 w-2/3 bg-contain bg-no-repeat bg-center -mt-16 py-72 z-min2 testimonial-texture-bk"></div>
</div>

<div class="flex flex-wrap max-w-8xl w-11/12 xl:w-5/6 mx-auto pt-24 pb-32">
    <h2 class="w-full pb-8 text-center">MEET OUR COACHES</h2>
    {% for item in teamMembersAll | sortBy('weight') %}
    <style>
        .headshot-{{ item.id }} {
            background-image: url('{{ item.headshotImg }}');
        }
    </style>
    <div class="w-full md:w-1/2 lg:w-1/3 p-4 text-center" data-aos="fade-up" data-aos-duration="1000">
        <div class="bg-cover bg-center bg-no-repeat py-32 xl:py-48 cus-shadow headshot-{{ item.id }}">

        </div>
        <h4 class="pt-6 pb-2">{{ item.name }}</h4>
        <h6 class="text-sm pb-6">{{ item.position }}</h6>
        <button data-micromodal-trigger="modal-{{ item.id }}">more</button>
    </div>
    <div id="modal-{{ item.id }}" class="micromodal-slide">
        <div class="relative w-full h-full items-center justify-center modal__overlay" tabindex="-1" data-micromodal-close>
            <i class="hidden xl:block absolute top-0 right-0 text-5xl text-fus-green mt-12 mr-8 hover:cursor-pointer fas fa-window-close" data-micromodal-close></i>
            <div class="w-11/12 md:w-5/6 bg-white mx-auto rounded-lg overflow-y-scroll pb-32 md:py-12 my-12 modal__container">
              <div class="relative w-full py-56 bg-cover md:bg-contain bg-center bg-no-repeat headshot-{{ item.id }}">
                <i class="xl:hidden absolute top-0 right-0 text-5xl text-fus-green hover:cursor-pointer mt-6 mr-6 fas fa-window-close" data-micromodal-close></i>
              </div>
              <div class="text-center pt-6 px-6">
                <h4 class="pb-2">{{ item.name }}</h4>
                <h6 class="text-sm">{{ item.position }}</h6>
                <ul class="max-w-2xl font-neue-haas text-sm mx-auto pt-6">
                    {% for item1 in item.certifications %}
                        <li class="pb-2">{{ item1.certification }}</li>
                    {% endfor %}
                </ul>
                <p class="max-w-3xl mx-auto pt-6 text-left whitespace-pre-line">"{{ item.bio }}"</p>
                <i class="xl:hidden w-full text-5xl text-fus-green text-center hover:cursor-pointer mt-12 fas fa-window-close" data-micromodal-close></i>
              </div>
            </div>
          </div>
    </div>
    {% endfor %}
</div>

<script>
function openModal() {
  event.preventDefault();
  event.stopPropagation();
}

function closeModal() {
  event.preventDefault();
  event.stopPropagation();
}
</script>

<style>
 .home-about-section {
     background-image: url('https://inside.trainedbyfusion.com/wp-content/uploads/2021/04/geo-bk-1.jpg');
 }
</style>

<div id="community" class="md:bg-contain bg-top bg-no-repeat pt-16 pb-12 lg:pb-40 overflow-x-hidden home-about-section">
    <div class="flex flex-wrap items-start md:w-5/6 lg:w-11/12 xl:w-5/6 max-w-8xl mx-auto lg:pt-12">
        {% for item in wpage.afterValuesBoxes %}
            <div data-aos="fade-left" {% if loop.index % 2 %}data-aos-duration="600"{% else %}data-aos-duration="800"{% endif %} class="flex flex-wrap w-11/12 lg:w-1/2 mx-auto pb-24 md:pb-12">
                <style>
                    .home-about-box-img-{{ loop.index }} {
                        background-image: url('{{ item.image.url }}');
                    }
                </style>
                <div class="flex flex-wrap w-11/12 mx-auto">
                    <div class="w-full bg-cover bg-center mx-auto py-48 md:py-32 xl:py-56 cus-shadow home-about-box-img-{{ loop.index }}">
                        
                    </div>
                </div>
                <div class="w-11/12 mx-auto pt-8 text-center sm:text-left">
                    <h3 class="pb-6">{{ item.title }}</h3>
                    <p class="lg-p">{{ item.paragraph }}</p>
                    <a href="{{ item.button.link }}">
                        <button class="text-2xl underline text-button">{{ item.button.text }}</button>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% include "../global/bottom-cta.njk" %}