<style>
.home-hero {
    background-image: url('{{ homePage.heroImg }}');background-image: linear-gradient(to bottom , rgba(24, 44, 68, 0.90) 90%, rgba(24, 44, 68, 0.70) 100%), url('{{ homePage.heroImg }}');
}
</style>

<div class="w-full bg-cover bg-center xxxl:bg-bottom text-center -mt-32 pt-64 pb-40 lg:pb-56 home-hero" alt="{{ homePage.heroAlt }}">
    <h1 class="xxl:text-9xl text-white pb-8 lg:pb-4">{{ homePage.heroTitle }}</h1>
    <a href="{{ homePage.heroButtonLink }}">
        <button class="lg-button green-button">{{ homePage.heroButtonText }}</button>
    </a>
</div>

<div class="py-5"></div>

<div class="max-w-12xl mx-auto py-24 md:py-12 overflow-x-hidden">
    <div class="flex flex-wrap">
        <div class="w-5/6 md:w-1/3 mx-auto md:pt-24 md:pl-5 lg:pl-8 xl:pl-16 xxxl:pl-32 text-center md:text-left">
            <h2>{{ homePage.ourProgramsTitle }}</h2>
            <p class="max-w-sm mx-auto lg:mx-0 pb-6 lg-p">{{ homePage.ourProgramsParagraph }}</p>
            <a href="{{ homePage.ourProgramsButtonLink }}">
                <button class="text-xl">{{ homePage.ourProgramsButtonText }}</button>
            </a>
        </div>
        <div data-aos="fade-left" data-aos-duration="1000" class="w-11/12 md:w-2/3 mx-auto sm:mx-0 sm:ml-auto pt-20 md:pt-0">
            <div id="home-program-slider" class="relative home-program-slider">
                {% for item in wpages | sortBy('weight') %}
                {% if item.template == "templates/single-program.php" %}
                <div class="flex flex-wrap w-full home-program-slide">
                    <style>
                        .home-program-slide-img-{{ item.id }} {
                            background-image: url('{{ item.homePageSliderImg }}');
                        }
                    </style>
                    <div class="flex flex-wrap w-11/12 mx-auto">
                        <div class="relative w-full bg-cover bg-center mx-auto mt-3 py-48 home-program-slide-img cus-shadow home-program-slide-img-{{ item.id }}">
                            <div class="absolute top-0 w-full mx-auto py-48 opacity-0 home-program-slide-img-overlay"></div>
                        </div>
                    </div>
                    <div class="w-11/12 mx-auto pt-4 text-center md:text-left">
                        <h3 class="h2-styled">{{ item.homePageSliderTitle }}</h3>
                        <p class="pb-6 lg-p">{{ item.homePageSliderParagraph }}</p>
                        <a href="{{ item.homePageSliderButtonLink }}">
                            <button class="text-2xl underline text-button">{{ item.homePageSliderButtonText }}</button>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="py-8"></div>

<style>
 .home-about-section {
     background-image: url('https://inside.trainedbyfusion.com/wp-content/uploads/2021/04/geo-bk-1.jpg');
 }
</style>

<div class="md:bg-contain bg-top bg-no-repeat pt-16 pb-12 lg:pb-40 overflow-x-hidden home-about-section">
    <h2 class="pb-12 text-white text-center px-6">{{ homePage.aboutFusionTitle }}</h2>
    <div class="flex flex-wrap items-start md:w-5/6 lg:w-11/12 xl:w-5/6 max-w-8xl mx-auto">
        {% for item in homePage.aboutFusionBoxes %}
            <div data-aos="fade-left" {% if loop.first == true %}data-aos-duration="500"{% endif %}{% if (loop.first == false) and (loop.last == false) %}data-aos-duration="1000"{% endif %}{% if loop.last == true %}data-aos-duration="1300"{% endif %} class="flex flex-wrap w-11/12 {% if loop.last == true %}md:w-full{% else %}md:w-1/2{% endif %} lg:w-1/3 mx-auto pb-24 md:pb-12">
                <style>
                    .home-about-box-img-{{ loop.index }} {
                        background-image: url('{{ item.image.url }}');
                    }
                </style>
                <div class="flex flex-wrap w-11/12 mx-auto">
                    <div class="w-full bg-cover bg-center {% if loop.last == true %}sm:bg-top{% else %}sm:bg-center{% endif %} mx-auto py-48 md:py-32 xl:py-40 cus-shadow home-about-box-img-{{ loop.index }}">
                        
                    </div>
                </div>
                <div class="w-11/12 max-w-sm mx-auto pt-8 text-center sm:text-left">
                    <h3 class="">{{ item.title }}</h3>
                    <p class="pb-6 lg-p">{{ item.paragraph }}</p>
                    <a href="{{ item.button.link }}">
                        <button class="text-2xl underline text-button">{{ item.button.text }}</button>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="relative pb-56 overflow-x-hidden">
    <div class="max-w-10xl mx-auto lg:px-16">
        <style>
            {% for item in testimonials %}
            .testimonial-img-{{ item.id }} {
                background-image: url('{{ item.img }}');background-image: linear-gradient(to bottom , rgba(13, 214, 60, 0.75) 90%, rgba(13, 214, 60, 0.75) 100%), url('{{ item.img }}');
                clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
            }
            {% endfor %}
        </style>
        <div id="testimonial-slider" class="relative w-full">
            {% for item in testimonials %}
                {% if item.disabled !== true %}
                <div class="flex w-full">
                    <div data-aos="fade-right" data-aos-duration="1000" class="relative w-full md:w-7/12 -mr-48 lg:-mr-0">
                        <div class="w-full bg-cover bg-center py-56 testimonial-img-{{ item.id }}">
            
                        </div>
                        <div class="absolute bottom-0 right-0 w-56 bg-fus-navy mr-6 py-10 xs:py-12 pl-10 pr-6 z-min1 testimonial-arrows">
                            
                        </div>
                        <div class="absolute bottom-0 right-0 flex items-center mb-8 sm:mb-10 pr-10">
                            <img class="text-2xl pl-24 pr-6 prev-test-button" src="https://inside.trainedbyfusion.com/wp-content/uploads/2021/04/slider-left-arrow-white.svg" />
                            <img class="next-test-button" src="https://inside.trainedbyfusion.com/wp-content/uploads/2021/04/slider-right-arrow-white.svg" />
                        </div>
                    </div>
                    <div data-aos="fade-left" data-aos-duration="1000" class="w-full max-w-2xl md:w-7/12 mb-16 -ml-32 lg:-ml-2 pt-12 px-5 xs:px-0 z-20">
                        <blockquote class="text-3xl xs:text-4xl xl:text-5xl pr-4 sm:pr-12">"{{ item.text | truncate(150) }}"</blockquote>
                        <h6 class="pt-6 pr-48 xs:pr-56 lg:pr-10 xl:pr-24 text-center">- {{ item.name }}</h6>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="absolute top-0 right-0 w-2/3 bg-contain bg-no-repeat bg-center -mt-16 py-72 z-min2 testimonial-texture-bk"></div>
</div>

<style>
    .membership-worth-it-section {
        background: rgb(51,93,143);
        background: linear-gradient(342deg, rgba(51,93,143,1) 3%, rgba(0,45,62,1) 100%);
    }
    .membership-worth-it-title {
        min-height: 120px;
    }
</style>

<div class="pt-24 pb-20 overflow-x-hidden membership-worth-it-section">
    <div class="text-center px-6">
        <h2 class="text-white pb-4">{{ homePage.worthItTitle }}</h2>
        <p class="max-w-sm text-white mx-auto">{{ homePage.worthItParagraph }}</p>
    </div>
    <div class="flex flex-wrap items-start w-11/12 xl:w-5/6 max-w-8xl mx-auto pt-12 pb-6 px-4 md:mx-0 md:ml-16 xl:ml-32 xxl:ml-48 xxxl:mx-auto">
        {% for item in homePage.worthItIconBoxes %}
            <style>
                .why-member-icon-{{ item.icon.id }} {
                    background-image: url('{{ item.icon.url }}');
                }
            </style>
            <div data-aos="fade-left" {% if loop.index == 1 %}data-aos-duration="500"{% endif %} {% if loop.index == 2 %}data-aos-duration="750"{% endif %} {% if loop.index == 3 %}data-aos-duration="1000"{% endif %} {% if loop.index == 4 %}data-aos-duration="1250"{% endif %} class="w-full sm:w-1/2 lg:w-1/4 pb-12 lg:pb-0 md:pr-12 text-center md:text-left">
                <div class="bg-contain bg-center md:bg-left bg-no-repeat py-8 why-member-icon-{{ item.icon.id }}"></div>
                <h5 class="font-thin text-white pt-10 pb-8 membership-worth-it-title">{{ item.title }}</h5>
                <p class="max-w-sm mx-auto text-white sm:px-5 md:px-0">{{ item.paragraph }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="flex justify-center pt-5">
        <a href="{{ homePage.worthItFilledButtonLink }}" class="pr-4">
            <button class="teal-button">{{ homePage.worthItFilledButtonText }}</button>
        </a>
        <a href="{{ homePage.worthItOutlineButtonLink }}">
            <button class="outline-teal-button">{{ homePage.worthItOutlineButtonText }}</button>
        </a>
    </div>
</div>