<div class="bg-cover bg-no-repeat -mt-1 -ml-1 pt-12 pb-32 single-program-hero">
    <div class="w-11/12 mx-auto">
        <h1 class="text-5xl sm:text-6xl md:text-h1-init text-white text-center md:text-left">{{ wpage.title }}</h1>
    </div>
</div>

<div class="flex flex-wrap w-full lg:w-11/12 max-w-8xl lg:-mt-24 xxl:-mt-20 mx-auto text-center md:text-left overflow-x-hidden">
    <div class="w-full md:w-2/3 lg:w-5/12 mx-auto pt-8 lg:pt-24 pb-12 lg:pb-0 px-6 xxl:px-16 single-program-hero-paragraph">
        <h2 class="pb-6">{{ wpage.heroTitle }}</h2>
        <p class="pb-8 xs:px-8 sm:px-24 md:px-0 whitespace-pre-line lg-p">{{ wpage.heroParagraph }}</p>
        <div class="flex flex-wrap md:flex-no-wrap lg:flex-wrap xl:flex-no-wrap items-center">
            <a href="{{ wpage.heroButtonLink }}" class="w-full lg:pr-6">
                <button class="mb-8 md:mb-0 lg:mb-8 xl:mb-0">{{ wpage.heroButtonText }}</button>
            </a>
        </div>
    </div>
    <div class="w-full lg:w-1/2 max-w-xl mx-auto">
        {% for item in wpages | sortBy('weight') %}
            {% if (item.template == "templates/single-program.php") or (item.template == "templates/nutrition.php") or (item.template == "templates/personal-training.php") %}
                {% if item.weight == 1 %}
                <div data-aos="fade-left" data-aos-duration="600" class="flex flex-wrap w-full">
                    <style>
                        .home-program-slide-img-{{ item.id }} {
                            background-image: url('{{ item.listingPageImg }}');
                        }
                    </style>
                    <div class="flex flex-wrap w-11/12 mx-auto">
                        <div class="relative w-full bg-cover bg-center mx-auto mt-3 py-24 lg:py-48 home-program-slide-img cus-shadow home-program-slide-img-{{ item.id }}">
                            <div class="absolute top-0 w-full mx-auto py-48 opacity-0 home-program-slide-img-overlay"></div>
                        </div>
                    </div>
                    <div class="w-11/12 mx-auto pt-4 text-center md:text-left">
                        <h3 class="h2-styled">{{ item.homePageSliderTitle }}</h3>
                        <p class="pb-6 lg-p">{{ item.homePageSliderParagraph }}</p>
                        <a href="{{ item.homePageSliderButtonLink }}">
                            <button class="text-2xl underline text-button">{{ item.homePageSliderButtonText }}</button>
                        </a>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="flex flex-wrap w-full lg:w-11/12 max-w-8xl mx-auto text-center md:text-left py-20 lg:pl-20 lg:pr-12 overflow-x-hidden">
        {% for item in wpages | sortBy('weight') %}
            {% if (item.template == "templates/single-program.php") or (item.template == "templates/nutrition.php") or (item.template == "templates/personal-training.php") %}
                {% if item.weight > 1 %}
                <div data-aos="fade-left" {% if loop.index % 2 %}data-aos-duration="800"{% else %}data-aos-duration="600"{% endif %} class="flex flex-wrap w-full lg:w-1/2 max-w-xl mx-auto pb-16">
                    <style>
                        .home-program-slide-img-{{ item.id }} {
                            background-image: url('{{ item.listingPageImg }}');
                        }
                    </style>
                    <div class="flex flex-wrap w-11/12 mx-auto">
                        <div class="relative w-full bg-cover bg-center mx-auto mt-3 py-24 lg:py-48 home-program-slide-img cus-shadow home-program-slide-img-{{ item.id }}">
                            <div class="absolute top-0 w-full mx-auto py-48 opacity-0 home-program-slide-img-overlay"></div>
                        </div>
                    </div>
                    <div class="w-11/12 mx-auto pt-4 text-center md:text-left">
                        <h3 class="h2-styled">{{ item.homePageSliderTitle }}</h3>
                        <p class="pb-6 lg-p">{{ item.homePageSliderParagraph }}</p>
                        <a href="{{ item.homePageSliderButtonLink }}">
                            <button class="text-2xl underline text-button">{{ item.homePageSliderButtonText }}</button>
                        </a>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
</div>

{% include "../global/bottom-cta.njk" %}