<style>
    
</style>

<iframe class="pt-24" src="https://app.wodify.com/Schedule/PublicCalendarListView.aspx?tenant=149"  width="90%" height="1000px" style="margin:auto;"></iframe>

<div class="py-12"></div>

<h1>H1. Let’s Go Together</h1>
<h2>H2. Let’s Go Together</h2>
<h3>H3. Let’s Go Together</h3>
<h4>H4. Let’s Go Together</h4>
<h5>H5. Let’s Go Together</h5>
<h6>H6. Let’s Go Together</h6>

<h4 class="sub-head">Main Sub-Headline / Quote</h4>

<h6 class="label-our-story">Main Sub-Headline / Quote</h6>

<p class="lg-p">Body 1.  Our expert caregivers and technology provide personalized medical care designed around how you and your pet live today.</p>

<p>Body 2.  Our expert caregivers and technology provide personalized medical care designed around how you and your pet live today.</p>

<p class="sm-p">Body 3.  Our expert caregivers and technology provide personalized medical care designed around how you and your pet live today.</p>

<a href="">
    Link | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
</a>

<br />

<button class="lg-button">Button</button>

<button class="green-button lg-button">Button</button>

<button class="teal-button lg-button">Button</button>

<button class="outline-navy-button lg-button">Button</button>

<button class="outline-teal-button lg-button">Button</button>

<button>Button</button>

<button class="green-button">Button</button>

<button class="teal-button">Button</button>

<button class="outline-navy-button">Button</button>

<button class="outline-teal-button">Button</button>

<button class="text-button">Button</button>

<!-- <ul>
    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
</ul>

<ol>
    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
</ol> -->

<blockquote>Blockquote | Lorem Ipsum is simply dummy text of the printing and typesetting industry.</blockquote>

<form action="" >
    <label>First Name</label>
    <input type="text" name="First-Name" placeholder="input name here" />
    <select name="select-option">
        <option value="Select 1">Select 1</option>
        <option value="Select 2">Select 2</option>
        <option value="Select 3">Select 3</option>
        <option value="Select 4">Select 4</option>
    </select>
    <label>Message</label>
    <textarea name="Message" placeholder="input text here"></textarea>
    <input type="submit" value="Submit" />
</form>

<div class="py-80"></div>
<div class="py-80"></div>
<div class="py-80"></div>

<style>

</style>

<div class="flex flex-wrap w-5/6 mx-auto py-24">
    <div class="w-full text-center">
        <h1 class="text-5xl font-bold leading-none">{{ wpage.heroTitle }}</h1>
        <p class="pt-6 pb-12">{{ wpage.heroParagraph }}</p>
        <a href="{{ wpage.heroButtonLink }}">
            <button>
                {{ wpage.heroButtonText }}
            </button>
        </a>
    </div>
</div>